html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    background: rgb(0,0,204);
	height: 500px;
	width:350px;
}

        /* svg trapezium 01 */

svg{
    position: absolute;
}
        /*  team description    */
		
.team_description{
    font-family: sans-serif;
    margin-top: 0%;
    padding: 80px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0,153);
    padding-bottom: 170px;
    box-shadow: 0px 1px 20px black;
}
.team_description img{
    margin: auto;

}
.team_description h1{
    font-size: 80px;
}
.team_intro{
    text-align:center;
    width: 80%;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
    font-weight: bold;
    position: absolute;
    top: 15%;
    right: 10%;
	left:10%;
}
.team_intro h1{
    font-size: 20px;
}
.team_intro p{
    font-family: 'Courier New', Courier, monospace;
	text-align:center;
}
.team_intro span{
    font-size: 30px;
}

#topic{
font-size: 20px;
color:rgb(102, 255, 255);
font-family:shizuru;}

#topbtn{
    height: 50px;
    width: 50px;
    position: absolute;
    right: 5%;
    bottom: 10%;
    margin: 20px;
    border-radius: 50%;
    border: none;
    font-weight: bold;
    transition: 0.1s all;
    position: fixed;
}
#topbtn:focus{
    outline: none;
}
#topbtn:hover{
    background-color: transparent;
    color: white;
    transform: scale(1.3);
}

.bg_image{
	height:150px;
	width:150px;
}
.com_logo{
	height:250px;
	width:250px;
}
.card-panel{
    webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
	background-color:rgba(50, 200, 100, 0.4);
    }